<%= render 'trips/homepage/show_dont_tell' %>  
<%= render 'trips/homepage/key_points' %>
<%= render 'trips/homepage/other_points' %>
<%= render 'trips/homepage/middle_reserve' %>  
<%= render 'trips/homepage/faqs' %>
<% render 'trips/homepage/press' %>