<div id="header">
  <div class="wrapper clearfix">
    <h1 id="header_text"><a href="/"><%= @current_trip.name %></a></h1>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>