<% unless @trip.faq_items.empty? %>
<div class="gray_background" id="faqs">
    <div class="wrapper clearfix">
      <h4>Frequently Asked Questions</h4>
        <ul>
          <% @trip.faq_items.slice(0, (@trip.faq_items.size/2.0).ceil).each do |faq| %>
              <%= render 'trips/homepage/faq', faq: faq %>
            <%	end  %>
        </ul>
        <ul class='col2'>
          <% @trip.faq_items.slice((@trip.faq_items.size/2.0).ceil..-1).each do |faq| %>
              <%= render 'trips/homepage/faq', faq: faq %>
          <%	end  %>
        </ul>
    </div>
</div>
<% end %>

