<% @trip.key_point_items.each do |key_point| %>
  <div class="big_wrapper">
    <div class="wrapper" id="<%= 'key_point_' + key_point.position.to_s %>">
      <div class="point_copy <%= cycle('', 'right') %>">
        <h3>
          <%= raw key_point.title %>
        </h3>
        <p>
          <%= raw key_point.body %>
        <p>
      </div>
    </div>
  </div>
<% end %>