<div class="big_wrapper">
  <div class="wrapper center" id="middle_reserve">
    <h2><%= Settings.call_to_action_two %></h2>
    <%= link_to Settings.middle_reserve_text, checkout_path, :class => "blue_button reserve" %>
  </div>
</div>