<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <% @trip.other_point_items.each do |other_point| %>
      <li id="section-<%= other_point.position %>">
        <h4><%= raw other_point.title %></h4>
        <p><%= raw other_point.body %></p>
      </li>
    <% end %>
  </ul>
</div>