<div class="wrapper clearfix">
  <div id="visual">
    <iframe width='512' height='385' src="<%= Settings.youtube_embed_url %>?autohide=1&showinfo=0&rel=0&autoplay=0"></iframe>
  </div>

  <div id="backing">

    <ul>
      <li class="stats" id="backers">
        <%= number_with_delimiter @trip.attending, :delimiter => "," %>
        <span><%= Settings.primary_stat %></span>
      </li>

      <% unless @trip.expiration_date.blank? %>
        <li class="stats" id="days">
          <%= distance_of_time_in_words_to_now(@trip.expiration_date).gsub(/\D/, "") %>
          <span><%= distance_of_time_in_words_to_now(@trip.expiration_date).gsub(/\d/, "").gsub("about", "") %> left</span>
        </li>
      <% else %>
        <li class="stats" id="days">
            &infin;
            <span>days left</span>
          </li>
      <% end %>
    </ul>

    <% if @trip.attending < @trip.goal %>
      <div id='progress_bg' class='small'>
        <div id='progress' class='' style='width: <%= @trip.goal_percent %>%;'>
        </div>
        <div id='progress_text' class="incomplete"><%= @trip.remaining %> more makes it happen!</div>
      </div>
    <% else %>
      <div id="progress_bg">
        <div id="progress">
        </div>
        <div id='progress_text'><%= @trip.goal_percent %>% <%= Settings.progress_text %></div>
      </div>
    <% end %>
    
    <div id="reserve_container">
      <p id="ship_date">
        <%= trip_dates %>
        <br>in <%= @trip.city %>
      </p>
      <%= link_to Settings.call_to_action, checkout_path, :class => "blue_button reserve" %>
      <p id="price"><%= "Only " + number_to_currency(@trip.price) %></p>
      <p><%= Settings.dont_give_them_a_reason_to_say_no %></p>
      <%= like_button %>
    </div>

  </div>
  
</div>