.main_content
{
  width: 560px;
  float: left;
  h3
  {
    margin-bottom: 30px;
    color: #4b4b4b;
    line-height: 1;
  }
  p
  {
    line-height: 1.5;
  }
  #checkout
  {
    input[type=text], input[type=email], select
    {
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #CCC;
      width: 350px;
      outline: none;
    }
    .invalid
    {
      border: 1px solid orange;
    }
    #amazon_button
    {
      margin-top: 5px;
      padding: 15px;
      border: none;
    }
  }
}

.sidebar
{
  float: right;
  width: 300px;
  p
  {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.3;
  }
}
