<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title><%= @page_title || "GapReunion" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
</head>
<body>
  <%= render 'header' %>
  <%= yield %>
  <%= render 'footer' %>
</body>
</html>
